.home {
  width: 1000px;
  height: auto;
  margin: auto;
  /* border: 1px solid rgb(233, 20, 20); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.home > div {
  border: 1px solid rgb(2, 1, 1);
  display: grid;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h3 {
  color: rgb(9, 105, 218);
  text-align: left;
  margin-bottom: 5px;
}
p {
  text-align: left;
  color: rgb(87, 96, 106);
}
