.body {
 
    margin: 0px;
    padding: 0px;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.spinner {
    display: block;
    width: 20px;
    height: 20px;
    border: 7px solid #ff23693b;
    border-radius: 50%;
    border-top-color: #ff2369;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }